<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>検索結果</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="layout/header :: header"></div>

<main>
    <h2 th:text="'検索結果：' + ${keyword}"></h2>

    <div class="grid">
        <div th:if="${#lists.isEmpty(products)}">
            <p>該当する商品がありません。</p>
        </div>

        <div th:each="p : ${products}" class="card">
            <div class="image-box">
                <a th:href="@{'/product/' + ${p.id}}">
                    <img th:src="${p.imageUrl}" alt="">
                </a>
            </div>
            <div class="name" th:text="${p.name}"></div>
            <div class="price" th:text="${p.price + '円'}"></div>
        </div>
    </div>
</main>

<div th:replace="layout/footer :: footer"></div>

</body>
</html>
