<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>注文完了 | とれたてBOX</title>



  <!-- 自分のCSS -->
  <link rel="stylesheet" th:href="@{/css/order/complete.css}">
</head>

<body class="complete-page">

<div th:replace="~{layout/layout :: layout(~{::title}, ~{::content})}">

  <main th:fragment="content"
        class="complete-wrapper container d-flex flex-column justify-content-center align-items-center text-center">

    <h2 class="complete-title">ご注文ありがとうございました</h2>

    <p class="complete-text">
      お客様の注文番号は
      「<strong th:text="${orderId}">000</strong>」
      です
    </p>

    <div class="mt-4">
      <a th:href="@{/products}" class="complete-btn">
        食材一覧へ
      </a>
    </div>

  </main>

</div>

</body>
</html>