<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>カート</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="layout/header :: header"></div>

<main>
    <div class="cart-wrapper">

        <h2 class="cart-title">ショッピングカート</h2>

        <!-- 合計表示（上部） -->
        <div class="cart-summary"
             th:if="${cart != null and !#lists.isEmpty(cart)}">

            <span>
                食材合計
                <strong th:text="${#lists.size(cart)}">0</strong> 点
            </span>

            <span>
                合計
                <strong th:text="${totalAmount}">0</strong> 円
            </span>
        </div>

        <!-- カートが空 -->
        <div th:if="${cart == null or #lists.isEmpty(cart)}"
             class="cart-empty">
            <p>カートに商品はありません。</p>
            <a th:href="@{/products}" class="btn-back">
                商品一覧へ戻る
            </a>
        </div>

        <!-- 商品一覧 -->
        <div th:each="item : ${cart}" class="cart-item">

            <!-- 商品画像 -->
            <div class="cart-item-image">
    			<img th:src="${item.imageUrl != null}
            	? @{/images/{f}(f=${item.imageUrl})}
            	:@{/images/no-image.png}"
         			alt="商品画像">
			</div>

            <!-- 商品情報 -->
            <div class="cart-item-info">

                <p class="cart-item-name"
                   th:text="${item.name}">
                    野菜果物の名前
                </p>

                <p>
                    値段：
                    <span th:text="${item.price}">0</span> 円
                </p>

                <p>
                    個数：
                    <span th:text="${item.quantity}">1</span>
                </p>

                <p>
                    小計：
                    <span th:text="${item.subtotal}">0</span> 円
                </p>

                <form th:action="@{/cart/remove}" method="post">
                    <input type="hidden"
                           name="productId"
                           th:value="${item.productId}">
                    <button type="submit" class="btn-delete">
                        削除
                    </button>
                </form>

            </div>
        </div>

    </div>
</main>

<div th:replace="layout/footer :: footer"></div>

</body>
</html>
