<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ユーザー情報 | とれたてBOX</title>
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
</head>

<body>

<div th:replace="~{layout/layout :: layout(~{::title}, ~{::content})}">

  <main th:fragment="content">
    <section class="page-section mypage-page">
      <div class="page-container">

        <div class="mypage-box">
          <h2 class="page-title">ユーザー情報</h2>

          <div class="mypage-form">

            <div class="form-group">
              <label class="form-label" for="name">氏名</label>
              <input type="text" id="name" th:value="${user.name}" class="form-input" readonly>
            </div>

            <div class="form-group">
              <label class="form-label" for="nameKana">フリガナ</label>
              <input type="text" id="nameKana" th:value="${user.nameKana}" class="form-input" readonly>
            </div>

            <div class="form-group">
              <label class="form-label" for="email">メールアドレス</label>
              <input type="text" id="email" th:value="${user.email}" class="form-input" readonly>
            </div>

            <div class="form-group">
              <label class="form-label" for="phoneNumber">電話番号</label>
              <input type="text" id="phoneNumber" th:value="${user.phoneNumber}" class="form-input" readonly>
            </div>

            <div class="form-group">
              <label class="form-label" for="password">パスワード</label>
              <input type="text" id="password" th:value="${maskedPassword}" class="form-input" readonly>
            </div>

            <div class="form-group">
              <label class="form-label" for="postalCode">郵便番号</label>
              <input type="text" id="postalCode" th:value="${address != null ? address.postalCode : ''}" class="form-input" readonly>
            </div>

            <div class="form-group">
              <label class="form-label" for="prefecture">都道府県</label>
              <input type="text" id="prefecture" th:value="${address != null ? address.prefecture : ''}" class="form-input" readonly>
            </div>

            <div class="form-group">
              <label class="form-label" for="city">市区町村</label>
              <input type="text" id="city" th:value="${address != null ? address.city : ''}" class="form-input" readonly>
            </div>

            <div class="form-group">
              <label class="form-label" for="addressLine1">町名・番地</label>
              <input type="text" id="addressLine1" th:value="${address != null ? address.addressLine1 : ''}" class="form-input" readonly>
            </div>

            <div class="form-group">
              <label class="form-label" for="addressLine2">建物名・部屋番号</label>
              <input type="text" id="addressLine2" th:value="${address != null ? address.addressLine2 : ''}" class="form-input" readonly>
            </div>

            <div class="btn-group">
              <a class="common-btn btn-danger" th:href="@{/edit}">編集</a>
              <a class="common-btn btn-primary" th:href="@{/top}">戻る</a>
            </div>

          </div>
        </div>

      </div>
    </section>
  </main>

</div>

</body>
</html>