<!-- /templates/layout/header.html -->
<header th:fragment="header" class="site-header">

    <!-- 左：ロゴ -->
    <div class="logo-box">
        <a th:href="@{/top}" class="logo-text">とれたてBOX</a>
    </div>


    <div class="header-right">

        <nav class="header-menu">

            <ul class="menu-list" sec:authorize="hasRole('ADMIN')">
                <li><a th:href="@{/admin/products}">食材管理</a></li>
                <li><a th:href="@{/admin/products/new}">食材登録</a></li>
                <li><a th:href="@{/admin/orders}">注文管理</a></li>
                <li><a th:href="@{/admin/users}">顧客管理</a></li>
                <li><a th:href="@{/logout}">ログアウト</a></li>
            </ul>

            <!-- ログイン中のみ -->
            <ul class="menu-list" sec:authorize="isAuthenticated()  and !hasRole('ADMIN')">
                <li><a th:href="@{/products}">食材一覧</a></li>
                <li><a th:href="@{/cart}">カート</a></li>

                <li class="hamburger-wrapper">
                    <button type="button" class="hamburger-btn">☰</button>
                    <ul class="hamburger-menu hidden">
                        <li><a th:href="@{/mypage}">ユーザー情報確認</a></li>
                        <li><a th:href="@{/edit}">ユーザー情報編集</a></li>
                        <li><a th:href="@{/Purchase_history}">購入履歴</a></li>
                        <li><a th:href="@{/logout}">ログアウト</a></li>
                    </ul>
                </li>
            </ul>

            <!-- 未ログインのみ -->
            <ul class="menu-list" sec:authorize="isAnonymous()">
                <li><a th:href="@{/products}">食材一覧</a></li>
                <li><a th:href="@{/login}">ログイン</a></li>
                <li><a th:href="@{/signup}">新規登録</a></li>
            </ul>

        </nav>

        <!-- 検索 -->
        <form class="header-search" th:action="@{/search}" 
        			method="get" sec:authorize="!hasRole('ADMIN')">
            <input type="text" name="keyword" placeholder="キーワードを入力">
            <button type="submit">検索</button>
        </form>

    </div>

</header>
