<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>エラー | とれたてBOX</title>
    <link rel="stylesheet" th:href="@{/css/error/system_error.css}">
</head>

<body>

<div th:replace="~{layout/layout :: layout(~{::title}, ~{::content})}">
    <main th:fragment="content">
        <section class="page-section system-error-page">
            <div class="page-container">

                <div class="system-error-box">
                    <p class="system-error-message">
					    申し訳ございません。エラーが発生しました。<br>
					    時間をおいて再度お試しください。
					</p>

                    <a th:href="@{/top}" class="common-btn btn-blue">
                        戻る
                    </a>
                </div>

            </div>
        </section>
    </main>
</div>

</body>
</html>