@charset "UTF-8";

/* =========================
   今が旬ページ全体
========================= */
.top-page {
    background-color: #f8f8f8;
}

.top-page .page-title {
	color: #FF9BAD;
}


/* =========================
   商品がないとき
========================= */
.empty-message {
    margin-top: 8px;
    font-size: 18px;
    color: #666666;
    text-align: left;
}



/* =========================
   スマホ対応
========================= */
@media (max-width: 575.98px) {
    .no-message {
        font-size: 16px;
    }

    .page-link-custom {
        margin: 0 4px;
        font-size: 14px;
    }
}