@charset "UTF-8";

.system-error-page {
    min-height: 60vh;
}

.system-error-box {
    margin-top: 60px;
    text-align: center;
}

.system-error-message {
    margin-bottom: 30px;
    color: #d9534f;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8;
}