<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログアウト | とれたてBOX</title>
</head>

<body>

<div th:replace="~{layout/layout :: layout(~{::title}, ~{::content})}">

    <main th:fragment="content">
        <section class="page-section logout-page">
            <div class="page-container">

                <div class="logout-box">
                    <h2 class="page-title">ログアウトしました</h2>

                    <div class="btn-group">
                        <a th:href="@{/products}" class="common-btn btn-success">食材一覧へ</a>
                    </div>
                </div>

            </div>
        </section>
    </main>

</div>

</body>
</html>